imagenes{
     display: flex;
      }
     
.imagenes:first-child {
  margin-right: 10px;
}
    



imagene2{
     display: flex;
      }
     
.imagenes:first-child {
  margin-right: 10px;
}



    
imagenes3{
     display: flex;
      }
     
.imagenes:first-child {
  margin-right: 10px;
}
    



imagenes4{
     display: flex;
      }
     
.imagenes:first-child {
  margin-right: 10px;
}
    