#Titulo{

  font-size: 36px;
  color:darkcyan;
  margin-bottom: 50px;
}

.Titulo2{
font-size: 29px;
  color: #008080;
  margin-top: 50px;
}

#pintura{

 

}

#banda{
    

     }




#musica {
 
}

